/*
        ##################
        # Start of Slice #
        ##################
*/
.slice_FixedSideLinks div.fixed-link-wrapper {
  position: fixed;
  top: 82px;
  right: 0;
  z-index: 2;
  transition: all 500ms;
  opacity: 1;
}
.slice_FixedSideLinks {
  display: none;
}
.slice_FixedSideLinks.slice_FixedSideLinksMobile div.fixed-link-wrapper {
  position: absolute;
} /* make social media links scroll up with menu */

@media (min-width: 992px) {
  .slice_FixedSideLinks div.fixed-link-wrapper {
    top: 35%;
    left: 0;
    right: inherit;
  }
  .slice_FixedSideLinks {
    display: block;
  }
  .slice_FixedSideLinks.slice_FixedSideLinksMobile {
    display: none;
  }
}

.slice_FixedSideLinks a {
  transition: all 500ms;
}
.slice_FixedSideLinks {
  letter-spacing: normal;
}

.slice_FixedSideLinks div.fixed-link-wrapper:hover {
  opacity: 1;
}

.slice_FixedSideLinks div.fixed-link-wrapper:hover span.SlideOutText {
  display: inline-block;
}

.slice_FixedSideLinks
  div.fixed-link-wrapper:hover
  div.search-overlay_fixed-link {
  visibility: visible;
}

.slice_FixedSideLinks a {
  display: block;
  height: 38px;
  width: 38px;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 5px 5px;
  margin: 0 0 3px 0;
  color: white;
  text-transform: uppercase;
  background-color: #393643;
}

.slice_FixedSideLinks div.fixed-link-wrapper a:hover {
  background-color: #f05356;
  width: 79px;
  /*border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;*/
  opacity: 1;
}
.slice_FixedSideLinks.slice_FixedSideLinksMobile
  div.fixed-link-wrapper
  a:hover {
  width: 38px;
  border-radius: 0;
}

.slice_FixedSideLinks div.fixed-link-wrapper a:hover span.SlideOutText {
  color: #fff;
}

.slice_FixedSideLinks div.fixed-link-wrapper a:hover i {
  color: #fff;
  padding-left: 35px !important;
}
.slice_FixedSideLinks.slice_FixedSideLinksMobile
  div.fixed-link-wrapper
  a:hover
  i {
  padding-left: 0 !important;
}

.slice_FixedSideLinks div.fixed-link-wrapper a i,
.slice_FixedSideLinks div.fixed-link-wrapper a svg {
  font-size: 20px;
  line-height: 20px;
  color: white;
  transition: all 500ms;
}

.slice_FixedSideLinks div.fixed-link-wrapper a span.SlideOutText {
  display: none;
  position: relative;
  top: -4px;
  padding-left: 6px;
  width: 80px;
  color: white;
  transition: all 500ms;
}

.slice_FixedSideLinks div.search-overlay_fixed-link {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 4;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f05356;
}

.slice_FixedSideLinks div.search-overlay_fixed-link input.button,
.slice_FixedSideLinks div.search-overlay_fixed-link label {
  display: none;
}

.slice_FixedSideLinks
  div.search-overlay_fixed-link
  span.search-close_fixed-link {
  position: absolute;
  top: 30px;
  right: 10px;
  font-family: IcoMoon490Icons;
  color: white;
  font-size: 20px;
  transition: color 500ms;
  cursor: pointer;
}

.slice_FixedSideLinks
  div.search-overlay_fixed-link
  span.search-close_fixed-link:hover {
  color: #393643;
}

.slice_FixedSideLinks
  div.search-overlay_fixed-link
  span.search-close_fixed-link::after {
  content: '\ea0f';
}

.slice_FixedSideLinks div.search-overlay_fixed-link div.search_div {
  margin: 0 40px 0 0;
}

.slice_FixedSideLinks div.search-overlay_fixed-link div.search_div input.text {
  height: 50px;
  margin-bottom: 0px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 15px;
  text-align: center;
  width: 300px;
  color: black;
  outline: none;
  margin-left: 10px;
}

.slice_FixedSideLinks
  div.search-overlay_fixed-link
  div.search_div
  input.text:hover {
  background-color: white;
}
