/* 
   Style Over-Ride file for C3.
*/

/* ############ Size of site logo image */
/* (For reference the entire desktop header is 127px high, unless there is a massive logo present) */
header .logo-icon img
{ 
	width:  auto !important; /* <<< mobile logo width */
	height: 40px !important; 
}
@media(min-width:992px){header .logo-icon img
{ 
	height: 71px !important; 
}
}
/* Gap between logo and top/bottom of screen  */
header div.logo-container 
{
	position: absolute; top:0; left:0; z-index:2;
	margin-top: 10px !important; /* <<< gap from top for mobile/tablet */
	margin-bottom: 10px !important; /* <<< gap from bottom for mobile/tablet */
	transition: margin-top 500ms linear;
}
@media(min-width:992px){
	header div.logo-container {
		position: static;
		margin-top: 20px !important; /* <<< gap from top for desktop */
		margin-bottom: 0 !important; /* <<< gap from bottom for desktop */
	}
	header section.HeaderSmall div.logo-container {margin-top: 10px !important;}
}
header div.logo-MyC3 {
	display: none;
	position: absolute;
	right:20px;
	top:70px;
	transition: top 500ms linear;
}
@media(min-width:992px){
	header div.logo-MyC3 {
		display: block;
		right:50px;
		top:50px;
	}
	header section.HeaderSmall {border-bottom: 1px solid #bebbbb !important;} /* have a border to delimit the header area */
	header section.HeaderSmall .logo-icon img {height: 40px !important;}
	header section.HeaderSmall div.logo-MyC3 {top:15px;}
	header section.HeaderSmall div.nav-menu {margin-top:0 !important;}
	header section.HeaderSmall div.nav-menu a {padding-bottom:12px !important;}
}

/* ############ Mobile menu colours */
header section.slice_Header_T div.SlickNavCloseIcon
{
	color: #f05356 !important; /* <<< colour of the menu close icon */
}

/* ############ Desktop/Mobile menu hover-over text-link color, top-link icons colour, footer email-link text color */
header li:hover > a
{
	color: #f05356 !important; /* <<< header/footer icon/text-link color */
}

/* ############ Search box background colour */
header div.search-overlay
{
	background-color: #f05356 !important; /* <<< Search box background colour */
}
header a.search-close 
{
	color: white !important;  /* <<< Search box close icon */
}

/* ############ Top bar of Group-Nav on the content page */
section.slice_content_page aside {font-weight:500;}
section.slice_content_page aside ul,
section.slice_content_page aside li,
section.slice_content_page aside img {list-style: none; list-style-type: none; width:100%; display:inline-block; padding:0;}
section.slice_content_page aside li {margin-bottom:10px;text-align:center;}
section.slice_content_page aside nav td.boxout_header_middle a {background-color: #f05356 !important;} /* <<< Group-Nav top bar background colour */

/* Code for the change in header on scroll */
section.HeaderWhite {
	background-color: white;
}
section.HeaderWhite ul.root_menu a {color: #3e4545;}

/* main logo */
section.slice_Header_T img.LogoGrey,
section.HeaderWhite img.LogoWhite {display: none !important;}
section.HeaderWhite img.LogoGrey {display: block !important;}

/* My C3 logo, has to work in sliceNav too. */
section.slice_Header_T img.LogoMyC3White,
section.slice_Header_T img.LogoMyC3Grey,
section.slice_Header_T img.LogoMyC3Red {width:65px; height:35px;}

section.slice_Header_T img.LogoMyC3Grey,
section.slice_Header_T img.LogoMyC3Red,
section.slice_Header_T a:hover img.LogoMyC3White,
section.slice_Header_T a:hover img.LogoMyC3Grey,
section.slice_Header_T div.SlickNav_Wrapper a:hover img.LogoMyC3Grey,
section.HeaderWhite img.LogoMyC3White {display: none !important;}

section.HeaderWhite img.LogoMyC3Grey,
section.slice_Header_T div.SlickNav_Wrapper img.LogoMyC3Grey,
section.slice_Header_T a:hover img.LogoMyC3Red {display: block !important;}

/* Form responses */
div.endis-jquery-ui div#divOverlay {
	font-size: 17px !important; 
	line-height: 1.3 !important;
	letter-spacing: 1px !important;
}

section.slice_WelcomeArticles a.WelcomeMapLink {color: #3e4545;text-decoration:underline;}

section.slice_YoungAdults {
	background-image: url(../images/BackgroundRed.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
section.slice_Children::before {
	background-image: url(../images/BackgroundKids.jpg);
	background-position: center center;
}

section.slice_WatchOnline {
	background-image: url(../images/BackgroundGrey.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: right bottom;
}
section.slice_WatchOnline table {margin:0 auto;}
section.slice_WatchOnline img {opacity:0.1; padding-right:50px;display:block;}
section.slice_WatchOnline h1 {line-height: 1;margin-top:0;}
section.slice_WatchOnline td {padding:0; text-align:left; vertical-align:middle;}
section.slice_WatchOnline a.button {margin-left:0;}
section.slice_WatchOnline a.button2 {margin-left:0; margin-right:0;}
@media (max-width:767px) {
	section.slice_WatchOnline img {padding-right:20px;}
	section.slice_WatchOnline td {vertical-align:top;}
	section.slice_WatchOnline a {font-size:14px !important;}
}
@media (max-width:992px) {
	section.slice_Header_T {position:static !important;}
}

.slice_InstagramFeed iframe.lightwidgetMobile { display: block; }
.slice_InstagramFeed iframe.lightwidgetDeskTop { display: none; }
@media (min-width:768px) {
	.slice_InstagramFeed iframe.lightwidgetMobile { display: none; }
	.slice_InstagramFeed iframe.lightwidgetDeskTop { display: block; }
}
.slice_InstagramFeed i.icomoon-icon-instagram::after {color: #f05356; position:relative; top:3px; }

/* extra fixes for the header */
header ul.root_menu a,
header ul.slicknav_nav a {font-weight:600 !important;}
header li.ExtraLink.MyC3 a {padding-top:7px !important; padding-bottom:0 !important;}

/* make the video slice slide-show work */
header {position:relative;}
section.slice_WelcomeSlides_L {position:absolute; top:70%; right:5%; width:500px; height:120px; padding:0 !important;}
section.slice_WelcomeSlides_L .bx-wrapper {background-color: transparent !important;}
section.slice_WelcomeSlides_L table {background-color:rgba(0,0,0,0.8);padding:0; margin:0; border-collapse:collapse; width:500px; height:120px;}
section.slice_WelcomeSlides_L td {padding:0;}
section.slice_WelcomeSlides_L img {width:100% !important; height:120px !important; display:block;}
section.slice_WelcomeSlides_L td.Image {width:200px;}
section.slice_WelcomeSlides_L td.Spacer {width:15px;}
section.slice_WelcomeSlides_L td.Text {width:270px; vertical-align:top; padding-top:5px;line-height:1.2 !important; }
section.slice_WelcomeSlides_L ul a {display:block; color:white !important;}
section.slice_WelcomeSlides_L ul a:hover {color: #f05356 !important;}
section.slice_WelcomeSlides_L a.bx-pager-link {width:16px !important; height:16px !important; border-radius:8px !important;}
section.slice_WelcomeSlides_L div.bx-pager {padding:0 !important; bottom:-25px !important; display:block !important;}
section.slice_WelcomeSlides_L div.TableWrapper {border-radius: 15px; overflow: hidden;}
@media (max-width:992px) {
	section.slice_WelcomeSlides_L {
		position:static !important; 
		width:100% !important;
		height:auto !important;
		background-color: #f2f2f5 !important;
		padding-bottom:40px !important;
		padding-top:0 !important;
	}
  section.slice_WelcomeSlides_L div.bannerSlides {margin:0; width:100%; float:none;}
	section.slice_WelcomeSlides_L table {background-color:#333333;margin: 0 auto !important; width:100% !important;height:auto !important;}
  section.slice_WelcomeSlides_L table img { height:auto !important;}
  section.slice_WelcomeSlides_L td.Image {width:45% !important;}
	section.slice_WelcomeSlides_L td.Text {width:50% !important;}
	section.slice_WelcomeSlides_L div.TableWrapper {border-radius:0;}
/* Slide show inactive round pager buttons */
  section.slice_WelcomeSlides_L a.bx-pager-link {	
      background-color: #b7b7b7 !important; /* <<< slide show inactive round button color */
      border-color: 	  #b7b7b7 !important; /* <<< slide show inactive round button border color */
  }
  section.slice_WelcomeSlides_L a.bx-pager-link:hover, 
section.slice_WelcomeSlides_L a.bx-pager-link.active {	
      background-color: #f2663a !important; /* <<< slide show inactive round button color */
      border-color: 	  #f2663a !important; /* <<< slide show inactive round button border color */
  }
}
@media (max-width:767px) {
	section.slice_WelcomeSlides_L td.Spacer {width:5px;}
	section.slice_WelcomeSlides_L td.Text {font-size:14px !important;}
}

/* Landing page slices */
/*
@media (min-width:992px) {
	header section.slice_Header_T.LandingPage div.logo-container {margin-top: 15px !important;}
}
header section.slice_Header_T.LandingPage a.slicknav_btn {background-color:#bebbbb;}
*/

section.slice_LandingArticles {
	background-image: url(../images/BackgroundPatternLightGrey.jpg);
}
section.slice_LandingArticles div.articleListLink {border-top: 1px solid #bebbbb; margin-top:20px; padding-bottom:20px !important;}
section.slice_LandingArticles div.articleListLink a {padding:0 !important; border:none !important; color:#0190A0 !important;}
section.slice_LandingArticles div.articleListLink a:hover {color:#f05356 !important; background-color:transparent !important;}
@media (max-width:767px) {
	section.slice_LandingArticles div.article_cards > div {width: 47.42268% !important;}
}
@media (max-width:467px) {
	section.slice_LandingArticles div.article_cards > div {width: 97.42268% !important;}
}

/* Banner Image code */
section.slice_BannerImage {
	/* background-image: url(../images/BackgroundLanding.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 200px 10px;
}
@media(max-width:992px){
	section.slice_BannerImage {padding:100px 10px;}
}
section.slice_BannerImage h1 {
	line-height:1; 
	margin:0; 
	text-align:center;
	color: white;
	font-size: 60px;
	text-transform: uppercase;
}
@media(max-width:992px){
	section.slice_BannerImage h1 {font-size: 40px;}
}
@media(max-width:467px){
	section.slice_BannerImage h1 {font-size: 30px;}
}
section.slice_BannerImage img {display:block; margin:0 auto; width:100%; max-width: 320px;} /* MyC3 Logo image */
section.slice_BannerImage div.BannerImgCustomFields {display:none;}
section.slice_BannerImage.ContentPage {
	background-image: url(../images/BackgroundContentPage.jpg);
}
section.slice_BannerImage.MyC3Page {
	background-image: url(../images/BackgroundMyC3.jpg);
}

/* Content page button images */
section.slice_content_page div.ContentSlides img {width:100%;}
@media (min-width:467px) and (max-width:767px) {
	section.slice_content_page div.ContentSlides li {width:50%; float:left;}
}
/* Content page spacing */
section.slice_content_page div.main-content {padding-top:0;}
@media(max-width:992px){
	section.slice_content_page div.main-content {padding-top:20px;}
}

/* article list rows */
section.slice_MyC3Articles {
	background-image: url(../images/BackgroundPatternMyC3.jpg);
}

header section.slice_Header_T.MyC3Page,
header section.slice_Header_T.MyC3Page a.slicknav_btn {background-color: #3e4545 !important;}
header section.slice_Header_T.HeaderWhite a.slicknav_btn,
header section.slice_Header_T.HeaderWhite a.slicknav_btn span {background-color: white !important; color: #3e4545 !important;}
header section.slice_Header_T.HeaderWhite a.slicknav_btn span.slicknav_icon-bar {background-color: #3e4545 !important;}

/* Hide all references to "MYC3" */
header section.slice_Header_T div.logo-MyC3 {display:none !important;}

/* Initially hide the content page sidebar images*/
section.slice_content_page div.ContentSlides li {display:none;}

.slice_FilmLightBox div.AmazonS3Reference,
header section.slice_VideoWrapper div.BigDeskTopFile, 
header section.slice_VideoWrapper div.SmallMobileFile { display: none;}
.slice_FilmLightBox { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 3; background-color: rgba(0, 0, 0, 0.6); }
.slice_FilmLightBox .FlexWrapper { display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; height: 100%; }
.slice_FilmLightBox .LightBox { background-color: white; border-radius: 10px; padding: 5px 10px; }
@media (min-width: 768px) { .slice_FilmLightBox .LightBox { padding: 20px 20px; } }
.slice_FilmLightBox .LightBox .FlexRow { display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-start; background-color: white; border-radius: 10px; }
.slice_FilmLightBox .LightBox .LightBoxTitle { font-size: 17px; line-height: 1; padding-bottom:5px; }
.slice_FilmLightBox .LightBox .CloseIcon { font-family: IcoMoon490Icons; font-size: 15px; line-height: 1; color: #f05356; }
.slice_FilmLightBox .LightBox .CloseIcon::after { content: "\ea0f"; }

input[type="button"] {border-radius:0 !important;}

@media (min-width:992px) {
	header.NonHomePage {margin-bottom:100px;}
	header.NonHomePageSmall {margin-bottom:60px;}
  section.slice_system_page div.systemPageContent {padding-left:45px;}
  section.slice_LandingArticles,
  section.slice_WelcomeArticles,
  section.slice_FindYourPlace {padding-left:30px;}
}

@media (max-width:1100px) {
  header section.slice_Header_T.HeaderWhite div.nav-menu {text-align:right !important;}}

/* Remove form on home page */
section.slice_GreetedForm_L div.form_text {width:97.42268% !important; text-align:center !important;}

footer div.FRLogo {padding:20px 0; width:100%;}
footer div.FRLogo img {display:block; margin:0 auto;}

/* New footer */
section.NewsLetterFooter {padding:30px 0 20px; background-color:#393643;}
section.NewsLetterFooter div.NFooterWrapper {padding:0 15px; display:flex; flex-flow:row nowrap; align-items:flex-start; justify-content:space-between; font-size:16px; color:white;}
section.NewsLetterFooter div.NewsLetterSignUp {
	display:flex; flex-flow:row nowrap; align-items:center; justify-content:center;
	height:50px; line-height:1.2; padding:17px 0 17px 17px;
	background-color:#585563;
}
section.NewsLetterFooter div.NewsLetterSignUp img {padding-right:20px;}
section.NewsLetterFooter a.NewsLetterGO {
  display:block; color:white;
  height:50px; background-color:#ea535a; padding:17px; margin-left:17px; font-weight:600;}
section.NewsLetterFooter a.NewsLetterGO:hover {color:#ea535a;background-color:white;}

section.NewsLetterFooter div.PhoneNumber {padding-top:10px;}
section.NewsLetterFooter div.Email {padding-top:5px;}

section.NewsLetterFooter .footer-column.footer-column-1 {text-align:right;}
section.NewsLetterFooter .footer-column.footer-column-1 a { display: inline-block; margin-left: 0; margin-right: 0; margin-top: 7px; margin-bottom: 15px; }
section.NewsLetterFooter .footer-column.footer-column-1 a i::after { font-size: 20px; color: white; border-radius: 4px; transition: color 500ms linear,background-color 500ms linear,border-color 500ms linear; }
section.NewsLetterFooter .footer-column.footer-column-1 a:hover i::after { background-color: white !important; border-color: white !important; }
section.NewsLetterFooter .footer-column.footer-column-1 a i.icomoon-icon-facebook::after { background-color: #3b5998; border: 8px solid #3b5998; }
section.NewsLetterFooter .footer-column.footer-column-1 a:hover i.icomoon-icon-facebook::after { color: #3b5998; }
section.NewsLetterFooter .footer-column.footer-column-1 a i.icomoon-icon-twitter::after { background-color: #1da1f2; border: 8px solid #1da1f2; }
section.NewsLetterFooter .footer-column.footer-column-1 a:hover i.icomoon-icon-twitter::after { color: #1da1f2; }
section.NewsLetterFooter .footer-column.footer-column-1 a i.icomoon-icon-instagram::after { background-color: #F05356; border: 8px solid #F05356; }
section.NewsLetterFooter .footer-column.footer-column-1 a:hover i.icomoon-icon-instagram::after { color: #F05356; }
section.NewsLetterFooter .footer-column.footer-column-1 img {max-width:160px;padding-top:15px;}

@media (max-width:992px) {
  	section.NewsLetterFooter {padding:20px 0;}
	section.NewsLetterFooter div.NFooterWrapper {flex-flow:column nowrap;align-items:center; justify-content:center;}
  	section.NewsLetterFooter div.NewsLetterSignUp {margin:25px 0 30px;}
  	section.NewsLetterFooter .footer-column.footer-column-1 {text-align:center;}
	section.NewsLetterFooter .footer-column.footer-column-1 img {padding:0}
}