/* Template CSS to allow font characters to be used as icons. */
/* (C)2017 Endis Ltd. No permission is given to use this code, except on an Endis website. */
/* The IcoMoon fonts were provided by https://icomoon.io/ under the following license: http://www.gnu.org/licenses/gpl.html */
@font-face {
  font-family: 'journey';
  src: url(../fonts/journey.ttf) format('truetype');
}
i[class^='journey-icon-'] {
  font-family: 'journey' !important;
}
@font-face {
  font-family: 'IcoMoon490Icons';
  src: url(../fonts/IcoMoon12icons.ttf) format('truetype');
}
i[class^='icomoon-icon-'] {
  font-family: 'IcoMoon490Icons' !important;
}
i[class^='journey-icon-'],
i[class^='icomoon-icon-'] {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
i.journey-icon-login::before {
  content: '\e902';
}
i.journey-icon-search::before {
  content: '\e903';
}
i.journey-icon-register::before {
  content: '\e904';
}
i.icomoon-icon-facebook::after {
  content: '\ea90';
}
i.icomoon-icon-twitter::after {
  content: '\ea96';
}
i.icomoon-icon-vimeo::after {
  content: '\eaa0';
}
i.icomoon-icon-youtube::after {
  content: '\ea9d';
}
i.icomoon-icon-instagram::after {
  content: '\ea92';
}
