<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

  <section class="slice_GreetedForm_L">
  	<div class="container">
  		<h1>
  			A very warm welcome</h1>

  		<div class="form_wrapper">
  			<div class="form_text">
  				<module alt="Article" module_id="698257" type_id="10" />
  			</div>

  			<div class="form_fields HideElement">
  				<module alt="Article" module_id="698258" type_id="10" />
  			</div>
  		</div>
  	</div>
  </section>

  <section class="slice_WelcomeArticles">
  	<div class="container">
  		<module alt="Latest Articles" module_id="698297" type_id="1" />
  	</div>
  </section>

  <section class="slice_WatchOnline">
  	<div class="container">
  		<div class="ArticleBody">
  			<table>
  				<tbody>
  					<tr>
  						<td>
  							<img src="/Images/Content/4/Templates/49141/images/IconPlay.png" /></td>
  						<td>
  							<h1 class="section-title">
  								Watch Online</h1>
  							See our latest media here<br />
  							<a class="button" href="javascript:ActivateLightBox(true);">Watch now</a> <a class="button2" href="/teachingseries">Teaching Series</a></td>
  					</tr>
  				</tbody>
  			</table>
  		</div>
  	</div>
  </section>

  <section class="slice_FilmLightBox">
  	<div class="AmazonS3Reference">
  		<module alt="Article" module_id="699677" type_id="10" />
  	</div>

  	<div class="FlexWrapper">
  		<div class="LightBox">
  			<div class="FlexRow">
  				<div class="LightBoxTitle">
  					Latest Video From C3</div>

  				<div class="CloseIcon">
  					&nbsp;</div>
  			</div>
  			<iframe allowfullscreen="" frameborder="0" height="360" mozallowfullscreen="" src="" webkitallowfullscreen="" width="640"></iframe></div>
  	</div>
  </section>

  <section class="slice_AboutUs">
  	<div class="container">
  		<h1 class="section-title">
  			About Us</h1>
  		<img src="/Images/Content/4/Templates/49141/images/PicAboutUs.jpg" />
  		<module alt="Article" module_id="698256" type_id="10" />
  	</div>
  </section>

  <section class="slice_Children SwitchFastParallexOn">
  	<div class="container">
  		<h1 class="section-title">
  			Kids and Youth</h1>
  		<module alt="Article" module_id="698298" type_id="10" />
  	</div>
  </section>

  <section class="slice_YoungAdults">
  	<div class="container">
  		<h1>
  			Young Adults and Students</h1>
  		<module alt="Latest Articles" module_id="698300" type_id="1" />
  	</div>
  </section>

  <section class="slice_FindYourPlace">
  	<div class="container">
  		<module alt="Article" module_id="699187" type_id="10" />
  		<module alt="Latest Articles" module_id="698301" type_id="1" />
  	</div>
  </section>

  <section class="slice_InstagramFeed">
    <div class="container">
      <h1 class="section-title">
        <i class="icomoon-icon-instagram">&nbsp;</i>
         Life at C3
      </h1>

      <div class="ArticleBody">
        <iframe allowtransparency="true" class="lightwidget-widget lightwidgetDeskTop" scrolling="no" src="" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        <iframe allowtransparency="true" class="lightwidget-widget lightwidgetMobile" scrolling="no" src="https://lightwidget.com/widgets/baee715d834255e98089f79c1b8bcc89.html" style="width: 100%; border: 0; overflow: hidden;"></iframe><br />
        <a class="button" href="https://www.instagram.com/the_c3church/" target="_blank">follow us on instagram</a>
      </div>
  	</div>
  </section>

{% include footer.html %}

  </body>
</html>
