<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    {% include side_links.html %}

    {% include hero.html %}

    <section class="slice_LandingMainArticle">
    	<module alt="Article" module_id="698312" type_id="10" />
    </section>

    <section class="slice_LandingArticles">
    	<div class="container">
    		<module alt="Latest Articles" module_id="698315" type_id="1" />
    	</div>
    </section>

    {% include footer.html %}

  </body>
</html>
