.formControl {
  width: 100%;
  background-color: #fff;
  font-size: 17px;
  color: black;
  border: solid #999 1px;
}

.formLabel {
  display: flex;
}

.button {
  color: #fff;
  background-color: #ea535a;
  padding: 15px !important; /* remove important once I drop old styles */
  width: unset !important;
}

.disabledButton {
  color: #fff;
  background-color: #ffb9c0;
  padding: 15px !important; /* remove important once I drop old styles */
  width: unset !important;
}

@media (max-width: 700px) {
  .button {
    width: 100% !important;
  }
  .disabledButton {
    width: 100% !important;
  }
}

form {
  margin: 20px;
}
