@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: 'Novecento Sans Wide';
      font-weight: bold;
      src: url('/fonts/Novecentosanswide-Bold.otf') format('opentype');
    }

    @font-face {
      font-family: 'Montserrat';
      font-weight: normal;
      src: url('/fonts/Montserrat-Regular.otf') format('opentype');
    }


.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
}

@layer components {
  #section-1:nth-child(1) {
    animation: section-1 8s both infinite;
  }

  @keyframes section-1 {
    0%,
    20%,
    100% {
      background: url('/home/1-rect.jpg') 10% 50%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    25%,
    45% {
      background: url('/home/2-rect.jpg') 14% 35%;
      clip-path: polygon(25% 100%, 0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    50%,
    70% {
      background: url('/home/3-rect.jpg') 0% 50%;
      clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    75%,
    95% {
      background: url('/home/7.jpg') 0% 50%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
      /* background-position: center; */
    }
  }

  #section-2:nth-child(2) {
    animation: section-2 8s both infinite;
  }

  @keyframes section-2 {
    0%,
    20%,
    100% {
      background: url('/home/1-rect.jpg') 38% 40%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    25%,
    45% {
      background: url('/home/2-rect.jpg') 38% 40%;
      clip-path: polygon(25% 100%, 0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    50%,
    70% {
      background: url('/home/3-rect.jpg') 38% 40%;
      clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    75%,
    95% {
      background: url('/home/7.jpg') 33% 45%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  #section-3:nth-child(3) {
    animation: section-3 8s both infinite;
  }

  @keyframes section-3 {
    0%,
    20%,
    100% {
      background: url('/home/1-rect.jpg') 58% 40%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    25%,
    45% {
      background: url('/home/2-rect.jpg') 66.66666% 20%;
      clip-path: polygon(25% 100%, 0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    50%,
    70% {
      background: url('/home/3-rect.jpg') 66.66666% 20%;
      clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    75%,
    95% {
      background: url('/home/7.jpg') 66.66666% 55%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
      /* background-position: center; */
    }
  }

  #section-4:nth-child(4) {
    animation: section-4 8s both infinite;
  }

  @keyframes section-4 {
    0%,
    20%,
    100% {
      background: url('/home/1-rect.jpg') 88% 50%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    25%,
    45% {
      background: url('/home/2-rect.jpg') 100% 50%;
      clip-path: polygon(75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%, 100% 50%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    50%,
    70% {
      background: url('/home/3-rect.jpg') 100% 50%;
      clip-path: polygon(100% 50%, 75% 100%, 25% 100%, 0% 50%, 25% 0%, 75% 0%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    75%,
    95% {
      background: url('/home/7.jpg') 100% 50%;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-size: cover;
      background-repeat: no-repeat;
      /* background-position: center; */
    }
  }
}
