.NewsLetterSignUp {
  line-height: 1.2;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 300px 60px;
  align-items: end;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 922px) {
  .NewsLetterSignUp {
    width: 35%;
  }
}

.NewsLetterSignUp label {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin: 0;
}

.NewsLetterSignUp label span {
  padding-bottom: 10px;
  padding-top: 10px;
}

.NewsLetterSignUp input[type='email'] {
  border: 1px solid #ea535a;
  padding: 17px 0 17px 17px;
  background-color: #585563;
  line-height: 1.2;
  color: #fff;
}

.NewsLetterSignUp input[type='email']::placeholder {
  color: #ddd;
}

.NewsLetterGO {
  display: block;
  color: white;
  height: 55px;
  background-color: #ea535a;
  padding: 17px;
  font-weight: 600;
  border: 0;
  font-size: 16px;
  align-self: flex-end;
}

.NewsLetterGO:hover {
  color: #ea535a;
  background-color: white;
}

.successMessage {
  margin: auto;
  padding: 10px;
}

.errorMessage {
  border: 1px solid #ea535a;
  margin: 10px -59px 10px 10px;
  padding: 10px;
}
