<header {% if not home_page %}class="NonHomePage"{% endif %}>


{% if home_page %}
  <section class="slice_VideoWrapper">
    <module alt="Video HTML" module_id="698292" type_id="85" />
    <div class="video-overlay">
      {% include nav.html %}
    </div>
  </section>

  {% include side_links.html %}

  <section class="slice_WelcomeSlides_L">
    <module alt="Mini Slideshow (Light Background)" module_id="698255" type_id="84" />
  </section>

{% else %}
  {% include nav.html %}
{% endif %}

</header>
