@tailwind base;

@font-face {
    font-family: Montserrat;
    src: url("../../../static/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: Gotcha;
    src: url("../../../static/fonts/Gotcha-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Novecento Sans Wide';
    font-weight: bold;
    src: url("../../../static/fonts/Novecentosanswide-Bold.otf") format("opentype");
}

ul {
  @apply list-disc list-inside;
}

h3 {
  @apply text-4xl font-title lowercase;
}

.hex-section-title > h3 {
  @apply text-5xl;
}

h4 {
  @apply text-3xl font-title lowercase;
}

h5 {
  @apply text-2xl font-accent normal-case mt-8;
}

p {
  @apply mb-2;
}

a {
  @apply underline text-purple;
}

a:hover {
  @apply bg-purple text-yellow;
}

@tailwind components;

@tailwind utilities;
